
.service-container{
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.display-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.display-color{
    background: #ffe8d6;
}
